<div class="app-container">
  <nav class="navbar admin-bar" *ngIf="user?.isAdmin">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" routerLink="/organization/create">Add org</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/verify-organizations">Verify orgs</a></li>
    </ul>
    <span class="greeting">Howdy, admin</span>
  </nav>
  <nav class="navbar">
    <div class="container">
      <h1 class="masthead-logo" routerLink="/"><img src="images/logo-2x.png" alt="Giv"></h1>
      <ul class="nav nav-left pull-left">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" (mouseover)="navOver($event)" (mouseout)="navOut($event)" [routerLink]="['/']">
            <img src="app/images/home-icon.svg" height="18">
            <span>Browse</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" (mouseover)="navOver($event)" (mouseout)="navOut($event)" [routerLink]="['/favorites']"><img src="app/images/heart-icon.svg" height="18"><span>Your favorites</span></a>
        </li>
      </ul>
      <ul class="nav nav-right pull-right">
        <li *ngIf="isLoggedIn" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" (mouseover)="navOver($event)" (mouseout)="navOut($event)" [routerLink]="['/your-giving']">
            <span>Your giving</span>
            <img src="app/images/dashboard-icon.svg" height="18">
          </a>
        </li>
      
        <li *ngIf="isLoggedIn" class="nav-item" [ngClass]="{'has-avatar': user?.avatar?.length}" (clickOutside)="exitAccountMenu()">
      		<a class="nav-link" (mouseover)="navOver($event)" (mouseout)="navOut($event)" (click)="toggleAccountMenu()">
            <span>{{user?.name || 'Your account'}}</span>
            <div class="user-avatar" *ngIf="user?.avatar?.length" [ngStyle]="{'background-image': 'url(' + user.avatar + ')'}"></div>
            <img class="user-default-avatar" *ngIf="!user?.avatar?.length" height="18" [src]="'app/images/profile-icon.svg'">
          </a>
          <ul *ngIf="showAccountMenu" class="subnav" (click)="exitAccountMenu()">
            <li class="subnav-item"><a [routerLink]="['/account']"><i class="fa fa-cog"></i><span>Settings</span></a></li>
            <li class="subnav-item"><a [routerLink]="['/organization', 'create']"><i class="fa fa-user-plus"></i><span>Submit an org</span></a></li>
            <li class="subnav-item"><a (click)="logOut()"><i class="fa fa-unlock-alt"></i><span>Log out</span></a></li>
          </ul>
        </li>

        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" (mouseover)="navOver($event)" (mouseout)="navOut($event)" (click)="logIn()">
            <span class="login-text">Log in</span>
          </a>
        </li>
        <button *ngIf="!isLoggedIn" class="nav-item" (mouseover)="navOver($event)" (mouseout)="navOut($event)" (click)="signUp()">Join</button>
      </ul>
    </div>
  </nav>

  <main class="main container" id="main">
  	<router-outlet></router-outlet>
  </main>

  <footer>
    <small><a (mouseover)="navOver($event)" (mouseout)="navOut($event)" target="_blank" href="https://github.com/dmayerdesign">Made with <i class="fa fa-heart"></i> by Danny Mayer</a></small>
    <small>Icons by <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> and by <a href="https://icons8.com/web-app/14099/Settings">Icons8</a> (<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>)</small>
  </footer>

  <div class="leave-feedback" routerLink="/contact">
    <i class="fa fa-bullhorn"></i>
    <span>Leave feedback</span>
  </div>

  <ng2-toasty></ng2-toasty>
</div>