.app-container {
	position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	width: 100%;
	min-height: 100%;
  min-width: 300px;
	padding-bottom: 7em;

  background-image: url(app/images/bg-icons-overlay.png);
  background-repeat: repeat;
  background-size: 22rem auto;
}

/* admin bar */
.admin-bar {
  background: #48757b;
}

.admin-bar ul {
  text-align: center;
}

.admin-bar .nav-item {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-transform: uppercase;
  font-size: 0.8em;
}

.admin-bar .nav-link {
  font-weight: bold;
}

.greeting {
  position: absolute;
    z-index: 100;
    right: 2em;
    top: 0.8em;
  font-size: 0.7em;
  color: #fff;
  opacity: 0.7;
  font-family: Hind, Helvetica, sans-serif;
}

/* Footer */

footer {
  position: absolute;
    bottom: 0;
    left: 0;
    z-index: 102;
  width: 100%;

  background: #ffffff;
  font-size: 0.8em;
  text-align: center;
  padding: 1.2em;
}

footer, footer a {
  color: #d8d3d5;
}

footer a:hover {
  color: #b8b3b5;
}