.app-container {
	position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	width: 100%;
	min-height: 100%;
  min-width: 300px;
	padding-bottom: 7em;
  background: transparent;
}

.app-container::before {
  display: block;
  content: "";
  position: fixed;
  will-change: transform;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff url(app/images/bg-icons-overlay.png) repeat left top;
  background-size: 22rem auto;
}

/* admin bar */
.admin-bar {
  background: #48757b;
}

.admin-bar ul {
  text-align: center;
}

.admin-bar .nav-item {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-transform: uppercase;
  font-size: 0.8em;
}

.admin-bar .nav-link {
  font-weight: bold;
}

.greeting {
  position: absolute;
    z-index: 100;
    right: 2em;
    top: 0.8em;
  font-size: 0.7em;
  color: #fff;
  opacity: 0.7;
  font-family: 'Hind', Helvetica, sans-serif;
}

@media screen and (max-width: 939px) {
  .greeting {
    display: none;
  }
}

/* Footer */

footer {
  position: absolute;
    bottom: 0;
    left: 0;
    z-index: 102;
  width: 100%;

  background: #ffffff;
  font-size: 0.8em;
  text-align: center;
  padding: 1.2em;
}

footer, footer a {
  color: #d8d3d5;
}

footer a:hover {
  color: #b8b3b5;
}

/* Feedback */

.leave-feedback {
  cursor: pointer;
  background: #7DADD7;
  color: #fff;
  position: fixed;
  right: -2rem;
  bottom: -2rem;
  z-index: 110;
  width: 4rem;
  height: 4rem;
  transform: rotate(45deg);
  opacity: 0.6;
}

.leave-feedback:hover {
  opacity: 1;
}

.leave-feedback i {
  position: absolute;
  top: 1.6rem;
  left: 0.4rem;
  font-size: 0.85rem;
  transform: rotate(-45deg);
}

.leave-feedback span {
  color: #7DADD7;
  position: absolute;
  transform: rotate(-90deg);
  padding-bottom: 0.2rem;
  font-size: 0.6rem;
  top: 1.35rem;
  left: -2.55rem;
}