<div class="featured-orgs col-md-12" *ngIf="!isLoadingFeatured && featuredOrgs?.length">
	<div class="featured-orgs-inner row">

		<div class="featured-carousel-nav">
			<i class="fa fa-angle-left" (click)="cycleFeatured(-1)"></i>
			<i class="fa fa-angle-right" (click)="cycleFeatured(1)"></i>
		</div>
		<h4 class="featured-header">Featured</h4>
		<section class="org featured-org single-item"
				#singleItem
				*ngFor="let org of featuredOrgs"
				[ngClass]="{'hidden': !org.showing, 'has-cover-image': org.coverImage, 'has-video': org.videoLink}">

			<header
					[ngStyle]="{'background-image': org.coverImage ? 'url(' + org.coverImage + ')' : 'url(app/images/cover-icons-overlay.png)'}">
				<div class="header-inner">
					<div class="inside-org header-left">
						
						<a *ngIf="org.slug" [routerLink]="['/organization', org.slug]">
							<div class="org-avatar inside-org" *ngIf="org.avatar" [ngStyle]="{'background-image': 'url(' + org.avatar + ')'}"></div>
						</a>
						<a *ngIf="!org.slug" [routerLink]="['/organization', 'i', org._id]">
							<div class="org-avatar inside-org" *ngIf="org.avatar" [ngStyle]="{'background-image': 'url(' + org.avatar + ')'}"></div>
						</a>

					</div>
					<div class="inside-org header-right">
						<h4>
							<a *ngIf="org.slug" [routerLink]="['/organization', org.slug]">{{org.name}}</a>
							<a *ngIf="!org.slug" [routerLink]="['/organization', 'i', org._id]">{{org.name}}</a>
							<span *ngIf="org.official" class="official-badge"></span>
						</h4>
<!-- 						<p class="info">
							<span class="star unstarred" *ngIf="!orgIsStarred(org)" (click)="starFeaturedOrg(org)"><i class="fa fa-star-o"></i></span>
							<span class="star starred" *ngIf="user && orgIsStarred(org)" (click)="unstarFeaturedOrg(org)"><i class="fa fa-star"></i></span>
							&nbsp;{{org.stars || '0'}} starred this
						</p> -->
						<p class="description inside-org preview">{{org.description | truncate:360}}</p>
					</div>
					<a [href]="org.donateLink" target="_blank"><button class="donate-button">{{org.donateLinkCopy || 'Donate'}}</button></a>
				</div>
			</header>
		</section>
		<div class="featured-footer featured-carousel-nav-dots">
			<span *ngFor="let org of featuredOrgs; let i = index"
			(click)="showFeatured(i)"
			[ngClass]="{'selected': featuredShowing === i}">•</span>
		</div>
	</div>
</div>

<div class="col-md-7 browse-orgs mobile-tab"
		*ngIf="!isLoading"
		[ngClass]="{'active': showOrgsMobileTab}">
	<header class="row col-md-12">
		<div class="row">
			<h2>
				<span *ngIf="categoryFilter?.name">{{categoryFilter?.name}} </span>
				<span [ngClass]="{'to-uppercase': !categoryFilter || !categoryFilter.name}">o</span>rganizations
				<span class="mobile-tab-button" (click)="showUpdates()"> Updates</span>
			</h2>
			<p class="subtitle">People doing important work right now</p>

			<search-box
			class="org-search-box search-box-container clearfix"
			*ngIf="!isLoading"
			(update)="searchOrgs($event)"
			(focusChange)="toggleSearchBoxFocus($event)"
			[ngClass]="{focused: searchBoxIsFocused}"
			[collection]="'organizations'"></search-box>

			<select *ngIf="!isLoading"
					[value]="categoryFilter?.id || 'all'"
					(change)="filterByCategory(getCategoryById($event.target.value))">
				<option [value]="'all'" selected>All categories</option>
				<option *ngFor="let category of categoriesList" [value]="category?.id">{{category?.name}}</option>
			</select>

			<p class="info filter-info" *ngIf="searchText">
				<button class="mini" (click)="clearOrgSearch()"><i class="fa fa-undo"></i>Clear search</button>
			</p>
			<p class="info filter-info" *ngIf="categoryFilter.id">
				Category: {{categoryFilter.name}}&nbsp;&nbsp;
				<button class="mini" (click)="clearCategoryFilter()"><i class="fa fa-undo"></i>Clear filter</button>
			</p>
		</div>
	</header>

	<div class="row items-list orgs-list col-md-12"
			[ngClass]="{'loading-orgs': loadingOrgSearch, 'loading-more-orgs': loadingShowMoreOrgs}">

		<div *ngIf="orgs.length === 0" class="row">
			<section class="null-search">
				<p>No orgs to show. Try broadening your search.</p>
			</section>
		</div>

	<!--*******
		Orgs Loop
		*********-->
		<org
			*ngFor="let org of orgs"
			[org]="org"
			[user]="user"
			[selected]="selectedOrg"
			(onSelect)="viewOrg($event)"
			(onDeselect)="deselectOrg($event)"
			(onStar)="starOrg($event)"
			(onUnstar)="unstarOrg($event)"
			#singleItem></org>
		
		<button id="show-more"
				*ngIf="showShowMore()"
				(click)="showMore(10, orgs.length)"
				[ngClass]="{'loading': loadingShowMoreOrgs}"
				[disabled]="loadingOrgSearch || isLoading">Show more</button>
	</div>

	<!-- LOADING SEARCH -->
	<div class="loader loading-org-search"
			[ngClass]="{'org-search-loader': loadingOrgSearch, 'show-more-loader': loadingShowMoreOrgs}"
			*ngIf="loadingOrgSearch || loadingShowMoreOrgs">
	  <div class="loader__figure"></div>
	</div>
</div>

<div class="col-md-5 browse-posts mobile-tab"
		*ngIf="!isLoading"
		[ngClass]="{'active': showUpdatesMobileTab}">
	<org-posts (tabChange)="showOrgs($event)" [user]="user" [isBrowsing]="true"></org-posts>
</div>

<!-- LOADING COMPONENT -->
<!-- <div class="loader" *ngIf="isLoading">
  <div class="loader__figure"></div>
  <p class="loader__label"><img src="images/logo-color-2x.png" width="30" alt="loading organizations"></p>
</div> -->
<div class="loader app-loader" *ngIf="isLoading">
  <p class="loader__label"><img src="images/logo-color-2x.png" width="50"></p>
  <p class="loader_dots">
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
  </p>
</div>

