<div class="col-md-7 browse-orgs" *ngIf="!isLoading">
<!-- 	<h2>Featured Organizations</h2>
	<div class="single-item row"
			*ngFor="let org of featuredOrgs"
			(click)="viewFeaturedOrg(org._id)"
			(clickOutside)="deselectFeaturedOrg($event, org._id)">
		<h5>{{org.name}}</h5>
		<p>{{org.stars}}</p>

		<div class="org-expanded" *ngIf="viewingFeaturedOrg && org._id === selectedFeaturedOrg._id">
			<org-details (update)="sendInfoMsg($event.body, $event.type)" [org]="selectedFeaturedOrg"></org-details>
			<a *ngIf="org.slug" href="/organization/{{org.slug}}">View Org Page</a>
			<a *ngIf="!org.slug" href="/organization/i/{{org._id}}">View Org Page</a>
			<org-posts [org]="selectedFeaturedOrg" [isBrowsing]="true"></org-posts>
		</div>
	</div> -->

	<header class="row col-md-12">
		<div class="row">
			<h2>Organizations</h2>
			<p class="subtitle">People doing important work right now</p>

			<search-box
			class="org-search-box search-box-container clearfix"
			*ngIf="!isLoading"
			(update)="searchOrgs($event)"
			(focusChange)="toggleSearchBoxFocus($event)"
			[ngClass]="{focused: searchBoxIsFocused}"
			[collection]="'organizations'"></search-box>

			<select *ngIf="!isLoading"
					[value]="categoryFilter?.id"
					(change)="filterByCategory(getCategoryById($event.target.value))">
				<option [value]="null" selected>All categories</option>
				<option *ngFor="let category of categoriesList" [value]="category?.id">{{category?.name}}</option>
			</select>

			<!-- <p class="info" *ngIf="orgsShowing">
				Showing {{orgsShowing || ''}} organization<span *ngIf="orgsShowing != 1">s</span>
			</p> -->
			<p class="info" *ngIf="searchText">
				<button class="mini" (click)="clearOrgSearch()"><i class="fa fa-undo"></i>Clear search</button>
			</p>
			<p class="info" *ngIf="categoryFilter.id">
				Category: {{categoryFilter.name}}&nbsp;&nbsp;
				<button class="mini" (click)="clearCategoryFilter()"><i class="fa fa-undo"></i>Clear filter</button>
			</p>
		</div>
	</header>

	<div class="row items-list orgs-list col-md-12"
			*ngIf="!isEditing">
			<!-- [ngClass]="{'loading-orgs': loadingOrgSearch}"> -->

		<section class="null-search" *ngIf="orgs.length === 0">
				No orgs to show. Try broadening your search.
		</section>

		<section class="org single-item row"
				#singleItem
				*ngFor="let org of orgs"
				(clickOutside)="deselectOrg($event, org._id)"
				[ngClass]="{'selected': viewingOrg && org._id === selectedOrg._id}">

			<header
					[ngStyle]="{'background-image': 'url(' + org.coverImage + ')'}"
					(click)="viewOrg($event, org._id)">
				<div class="header-inner" [ngClass]="{'has-cover-image': org.coverImage}">
					<img class="org-avatar inside-org" *ngIf="org.avatar" [src]="org.avatar" [alt]="org.name">
					<div class="org-avatar"></div>

					<h4 class="inside-org" *ngIf="!selectedOrg || org._id !== selectedOrg._id">{{org.name}}</h4>

					<p class="info inside-org preview" *ngIf="!selectedOrg || org._id !== selectedOrg._id">Hello lorem ipsum dolor sit amet {{org.description}}</p>
					<p class="stars-preview inside-org preview info">
						<strong>{{org.stars}}</strong>
							<i *ngIf="user && orgIsStarred(org)" class="fa fa-star"></i>
							<i *ngIf="user && !orgIsStarred(org)" class="fa fa-star-o"></i>
					</p>

					<h4 *ngIf="viewingOrg && org._id === selectedOrg._id">
						<a *ngIf="org.slug" href="/organization/{{org.slug}}">{{org.name}}</a>
						<a *ngIf="!org.slug" href="/organization/i/{{org._id}}">{{org.name}}</a>
					</h4>
					<p class="info" *ngIf="viewingOrg && org._id === selectedOrg._id">
						<span class="star unstarred" *ngIf="user && !orgIsStarred(org)" (click)="starOrg(org._id)"><i class="fa fa-star-o"></i></span>
						<span class="star starred" *ngIf="user && orgIsStarred(org)" (click)="unstarOrg(org._id)"><i class="fa fa-star"></i></span>
						&nbsp;{{org.stars}} people starred this
					</p>
				</div>
			</header>
			<span class="exit" (click)="deselectOrg($event, org._id)" *ngIf="viewingOrg && org._id === selectedOrg._id">
				<img src="app/images/x.svg" width="16" height="16" alt="exit">
			</span>

			<div class="org-expanded clearfix" *ngIf="viewingOrg && org._id === selectedOrg._id">
				<org-details (update)="sendInfoMsg($event.body, $event.type)" [org]="selectedOrg"></org-details>
				<org-posts [org]="selectedOrg" [isBrowsing]="true"></org-posts>
				<a *ngIf="org.slug" href="/organization/{{org.slug}}">Read more</a>
				<a *ngIf="!org.slug" href="/organization/i/{{org._id}}">Read more</a>
			</div>
		</section>
		
		<button id="show-more"
				class="row btn btn-default"
				(click)="showMore(10, orgs.length)"
				[disabled]="loadingOrgSearch || isLoading">Show more</button>
	</div>

	<!-- LOADING -->
	<div class="loader loading-org-search" *ngIf="loadingOrgSearch">
	  <div class="loader__figure"></div>
	</div>
</div>

<div class="col-md-5 browse-posts" *ngIf="!isLoading">
	<org-posts [user]="user" [isBrowsing]="true"></org-posts>
</div>

<div class="loader" *ngIf="isLoading">
  <div class="loader__figure"></div>
  <p class="loader__label"><img src="images/logo-color-2x.png" width="30" alt="loading organizations"></p>
</div>

