<form class="giv-form col-md-6" (submit)="submitForm()" #contactForm="ngForm" style="margin-top: 1.4rem">
	
	<div *ngIf="!options">
		<h2>Give feedback</h2>
		<p class="subtitle" style="margin-bottom: 1rem">Voice a concern, tell us what we can improve, or leave a nice message.</p>

		<div class="form-field clearfix">
			<label class="title">Your name</label>
			<input [(ngModel)]="inputs.fromName" type="text" name="name">
		</div>
		
		<div class="form-field clearfix">
			<label class="title">Your email address</label>
			<input [(ngModel)]="inputs.fromAddr" type="email" name="email">
		</div>

		<div class="form-field clearfix">
			<label class="title">Your message</label>
			<textarea [(ngModel)]="inputs.message" name="message"></textarea>
		</div>
	</div>

<!-- 	<div *ngIf="options">
		<input *ngIf="options.outgoing && options.fields.name" [(ngModel)]="inputs.toName" type="text" name="name" placeholder="your name">
		<input *ngIf="!options.outgoing && options.fields.name" [(ngModel)]="inputs.fromName" type="text" name="name" placeholder="your name">
		<input *ngIf="options.outgoing && options.fields.email" [(ngModel)]="inputs.toAddr" type="email" name="email" placeholder="your email address">
		<input *ngIf="!options.outgoing && options.fields.email" [(ngModel)]="inputs.fromAddr" type="email" name="email" placeholder="your email address">
		<input *ngIf="options.fields.confirmEmail" [(ngModel)]="inputs.confirmEmail" type="email" name="confirmEmail" placeholder="confirm your email address">
		<input *ngIf="options.fields.password" [(ngModel)]="inputs.password" type="password" name="password" placeholder="your password">
		<input *ngIf="options.fields.confirmPassword" [(ngModel)]="inputs.confirmPassword" type="password" name="confirmPassword" placeholder="your password again">
		<textarea *ngIf="options.fields.message" [(ngModel)]="inputs.message" name="message" placeholder="your message"></textarea>
	</div> -->

	<button [disabled]="!inputs?.fromAddr?.length || !inputs?.message?.length">Send</button>
</form>