<div class="create-org">

  <div class="giv-form col-md-6">
    <h2>Submit an organization</h2>
    <p class="subtitle">If you're part of an organization, or know of one that you think belongs on Giv, submit it by filling out the form below. As long as it's not blatantly fake or hateful, we'll add it to the database.</p>
    <div class="form-field clearfix">
      <label class="title">Name of the organization</label>
      <input [(ngModel)]="org.name"
            class="form-control"
            name="name"
            placeholder="What is your organization called?">
    </div>
    <div class="form-field clearfix">
      <label class="title">Description</label>
      <textarea [(ngModel)]="org.description"
            class="form-control"
            name="description"
            placeholder="Describe your organization in a few sentences"></textarea>
    </div>
    <div class="form-field clearfix">
      <label class="title">Type (optional but recommended)</label>
      <select [(ngModel)]="org.type"
            class="form-control"
            name="description">
        <option *ngFor="let type of orgTypes" [value]="type">{{type}}</option>
      </select>
    </div>
    <div class="form-field clearfix">
      <label class="title">Website</label>
      <input [(ngModel)]="org.website"
            class="form-control"
            name="website"
            placeholder="Your organization's website">
    </div>
    <div class="form-field clearfix">
      <label class="title">Donate link</label>
      <input [(ngModel)]="org.donateLink"
            class="form-control"
            name="donate"
            placeholder="A link to donate to your organization">
    </div>

    <div class="form-field clearfix">
      <label class="title">Select all categories that apply to your organization</label>
      
      <div class="categories-list clearfix">
        <label *ngFor="let category of categories" class="category checkbox-label" [ngClass]="{'checked': orgHasCategory(category)}">
          <div>
            <input
              type="checkbox"
              [checked]="orgHasCategory(category)"
              (change)="changeSelectedCategories(category, $event.target.checked)">
            <span>{{category.name}}</span>
          </div>
        </label>
      </div>
    </div>

    <div class="role form-field clearfix">
      <label class="title">Tell us about yourself</label>
      <textarea [(ngModel)]="roleDescription"
            class="form-control"
            name="message"
            placeholder="Describe your role or interest in this organization"></textarea>
    </div>
    
    <button class="full-width submit-org" (click)="submitOrg(org)">Submit organization</button>
  </div>

<!--
  CREATOR
  DONATE LINK
  WEBSITE
  CATEGORIES
-->

</div>