<div class="create-post col-md-7">

  <h4 *ngIf="!editing">Add a post</h4>
  <h4 *ngIf="editing">Edit {{editing.title}}</h4>

  <div class="form-field reversed clearfix">
    <input [(ngModel)]="post.title"
          class="grey-bg no-shadow"
          name="title"
          placeholder="Title">
  </div>
  <div class="form-field reversed clearfix">
    <textarea [(ngModel)]="post.content"
          class="grey-bg no-shadow"
          name="content"
          placeholder="Type something"></textarea>
  </div>
  <div class="form-field reversed clearfix">
    <input [(ngModel)]="post.featuredImage"
      [attr.type]="'url'"
      class="grey-bg no-shadow"
      name="featuredImageLink"
      placeholder="Paste a link to an image">
    <div class="upload-container">
      <span>OR</span>
      <label class="upload" [attr.for]="'post-featured-image'">
        <input
          [attr.id]="'post-featured-image'"
          type="file"
          ngFileSelect
          [options]="uploadOptions"
          (onUpload)="handleUpload($event)">
      </label>
      <!-- <p class="info upload-tip">If you want to upload a file larger than 3 MB, go <a href="http://compressjpeg.com">here for JPEGs</a> and <a href="http://tinypng.com">here for PNGs.</a></p> -->
    </div>
  </div>

  <button class="submit" (click)="createPost(post)">
    <span *ngIf="!editing">Add</span><span *ngIf="editing">Save</span> post
  </button>
  <button class="cancel" (click)="cancelPost()">Cancel</button>

</div>