<div class="favorite-orgs mobile-tab desktop-tab col-md-8"
		[ngClass]="{'active': showFavoritesMobileTab}">
	<header>
		<h2>Favorited <span class="desktop-tab-button" *ngIf="user" (click)="showRecommended()">Recommended</span></h2>
		<p class="subtitle">Here you can keep track of organizations you like</p>
	</header>

	<div *ngIf="!user">
		<div class="row">
			<section class="null-search">
				<p>Log in to begin saving your favorite organizations, and watch them appear here.</p>
			</section>
			<button class="big-button" [routerLink]="['/login']">Log in</button>
		</div>
	</div>

	<div class="items-list orgs-list col-md-12"
			*ngIf="user"
			[ngClass]="{'loading-more-orgs': loadingShowMoreOrgs}">

		<section class="null-search row" *ngIf="orgs.length === 0">
			<p>No organizations to show. Save some to your favorites, and watch them appear here!</p>
		</section>

	<!--*******
		Orgs Loop
		*********-->
		<org
			*ngFor="let org of orgs"
			[org]="org"
			[user]="user"
			[selected]="selectedOrg"
			(onSelect)="viewOrg($event)"
			(onDeselect)="deselectOrg($event)"
			(onUnfavorite)="unfavorite($event)"
			#singleItem></org>
	</div>
</div>

<div class="mobile-tab desktop-tab"
		*ngIf="user"
		[ngClass]="{'active': showRecommendedMobileTab}">
	<recommended-orgs (tabChange)="showFavorites($event)" [orgs]="orgs" [inFavorites]="true"></recommended-orgs>
</div>

