<div class="form-field clearfix" [ngClass]="name">
  <label class="title" *ngIf="title" [attr.for]="name">{{title}}</label>

  <button
    class="save"
    (click)="save()"
    [disabled]="!changed"
    [ngClass]="{'changed': changed}"
    [hidden]="noSave"
    *ngIf="type !== 'select'">

    <i [hidden]="!saving" class="fa fa-circle-o-notch fa-spin"></i>
    <i [hidden]="saving" class="fa fa-check"></i>
    <span>save<span *ngIf="!changed">d</span></span>
  </button>

  <input
    class="grey-bg no-shadow"
    *ngIf="type === 'text' || type === 'number' || type === 'url' || type === 'email' || type === 'password'"
    [attr.type]="type"
    [attr.name]="name"
    [attr.id]="name"
    [attr.placeholder]="placeholder"
    (keyup)="changeHandler()"
    (blur)="changeHandler()"
    (change)="changeHandler()"
    [(ngModel)]="value">

  <textarea
    class="grey-bg no-shadow"
    *ngIf="type === 'textarea'"
    [attr.name]="name"
    [attr.id]="name"
    [attr.placeholder]="placeholder" 
    (keyup)="changeHandler()"
    (blur)="changeHandler()"
    (change)="changeHandler()"
    [(ngModel)]="value"></textarea>

  <select
    class="grey-bg no-shadow"
    *ngIf="type === 'select'"
    [attr.name]="name"
    [attr.id]="name"
    [attr.placeholder]="placeholder" 
    (change)="save($event.target.value)"
    [(ngModel)]="value">

    <option
      *ngFor="let option of selectOptions; let index = i"
      [value]="option"
      [attr.selected]="isSelected(option)">{{option}}</option>

  </select>  

  <div class="upload-container" *ngIf="upload">
    <span>OR</span>
    <label class="upload" [attr.for]="name + '-upload'">
      <input
        *ngIf="upload?.url"
        [attr.id]="name + '-upload'"
        type="file"
        ngFileSelect
        [options]="upload"
        (onUpload)="handleUpload($event)">
    </label>
    <!-- <p class="info upload-tip">If you want to upload a file larger than 3 MB, go <a href="http://compressjpeg.com">here for JPEGs</a> and <a href="http://tinypng.com">here for PNGs.</a></p> -->
  </div>
</div>