<div class="manage-org-page" *ngIf="org && isLoaded">
	<a class="back-btn" *ngIf="org?.slug" [routerLink]="['/organization', org.slug]">
    <i class="fa fa-long-arrow-left"></i>
    Back to page
  </a>
	<a class="back-btn" *ngIf="!org?.slug" [routerLink]="['/organization', 'i', org._id]">
    <i class="fa fa-long-arrow-left"></i>
    Back to page
  </a>

  <div class="row">
    <div class="giv-form col-md-6" *ngIf="org">
      <h2>Manage <span>{{org?.name}}</span></h2>
    	<div class="form-section visuals clearfix">
        <form-field
          [title]="'Cover image'"
          [name]="'coverImage'"
          [placeholder]="'Paste a link to an image'"
          [type]="'url'"
          [saving]="saving_coverImage"
          [upload]="coverImageUploadOptions"
          (onUpload)="handleUpload($event)"
          (onSave)="save('coverImage', $event)"></form-field>

        <form-field
          [title]="'Cover video (YouTube)'"
          [name]="'videoLink'"
          [placeholder]="org.videoLink || 'Paste a regular link to a YouTube video'"
          [type]="'url'"
          [saving]="saving_videoLink"
          (onSave)="save('videoLink', $event)"></form-field>

        <form-field
          [title]="'Avatar'"
          [name]="'avatar'"
          [placeholder]="'Paste a link to an image'"
          [type]="'url'"
          [saving]="saving_avatar"
          [upload]="avatarUploadOptions"
          (onUpload)="handleUpload($event)"
          (onSave)="save('avatar', $event)"></form-field>
      </div>
      <div class="form-section basics clearfix">
        <form-field
          [title]="'Name'"
          [name]="'name'"
          [placeholder]="org.name"
          [type]="'text'"
          [saving]="saving_name"
          (onSave)="save('name', $event)"></form-field>

        <form-field
          [title]="'Identifier'"
          [name]="'slug'"
          [placeholder]="org.slug || 'e.g. my-awesome-org'"
          [type]="'text'"
          [saving]="saving_slug"
          (onSave)="save('slug', $event)"></form-field>

        <form-field
          [title]="'Description'"
          [name]="'description'"
          [placeholder]="'Describe your organization in a few sentences'"
          [type]="'textarea'"
          [saving]="saving_description"
          (onSave)="save('description', $event)"></form-field>
      </div>
      <div class="form-section calls-to-action clearfix">
        <form-field
          [title]="'Call to action text'"
          [name]="'donateLinkCopy'"
          [type]="'select'"
          [saving]="saving_donateLinkCopy"
          [selectOptions]="callsToAction"
          [initial]="org.donateLinkCopy"
          (onSave)="save('donateLinkCopy', $event)"></form-field>

        <form-field
          [title]="'Call to action link'"
          [name]="'donateLink'"
          [placeholder]="'e.g. https://my.org.com/donate'"
          [type]="'url'"
          [saving]="saving_donateLink"
          (onSave)="save('donateLink', $event)"></form-field>
        
        <div class="form-field clearfix">
          <label class="title">Other ways to help</label>
          <button
            class="save"
            (click)="save('otherLinks')"
            [disabled]="!changed_otherLinks"
            [ngClass]="{'changed': changed_otherLinks}">

            <i [hidden]="!saving_otherLinks" class="fa fa-circle-o-notch fa-spin"></i>
            <i [hidden]="saving_otherLinks" class="fa fa-check"></i>
            save<span *ngIf="!changed_otherLinks">d</span>
          </button>
          <div class="other-link clearfix" *ngFor="let otherLink of org?.otherLinks; let i = index">
            <button
              class="remove icon-btn"
              *ngIf="org?.otherLinks.length < 3 && org?.otherLinks.length"
              (click)="removeOtherLink(otherLink)">

              <img src="app/images/trash-btn.svg" alt="remove">
            </button>
            <input
              class="grey-bg no-shadow"
              [attr.name]="'otherLink' + i + 'Copy'"
              [attr.placeholder]="'Description'"
              (keyup)="changeHandler('otherLinks', $event)"
              [(ngModel)]="org.otherLinks[i].copy">
            <input
              class="grey-bg no-shadow"
              [attr.name]="'otherLink' + i + 'Href'"
              [attr.type]="'url'"
              [attr.placeholder]="'Link to a resource or contact'"
              (keyup)="changeHandler('otherLinks', $event)"
              [(ngModel)]="org.otherLinks[i].href">
          </div>
          <button
            class="add mini"
            *ngIf="org?.otherLinks.length < 3"
            (click)="addAnotherLink()">+ add</button>
        </div>
      </div>
      <div class="form-section categories clearfix">
        <form-field
          [title]="'Facebook page'"
          [name]="'facebook'"
          [type]="'url'"
          [saving]="saving_facebook"
          [placeholder]="org.facebook || 'e.g. https://facebook.com/myorganization'"
          (onSave)="save('facebook', $event)"></form-field>
      </div>
      <div class="form-section categories clearfix">
        <div class="form-field categories clearfix">
          <label class="title">Categories</label>
          <button
            class="save"
            (click)="save('categories')"
            [disabled]="!changed_categories"
            [ngClass]="{'changed': changed_categories}">

            <i [hidden]="!saving_categories" class="fa fa-circle-o-notch fa-spin"></i>
            <i [hidden]="saving_categories" class="fa fa-check"></i>
            save<span *ngIf="!changed_categories">d</span>
          </button>
          <div class="categories-list clearfix">
            <label
                *ngFor="let category of categories"
                [attr.for]="category.id"
                class="category checkbox-label"
                [ngClass]="{'checked': checked[category.id]}">

              <div>
                <input
                  type="checkbox"
                  [attr.id]="category.id"
                  [attr.name]="category.id"
                  [checked]="orgHasCategory(category)"
                  (change)="changeHandler('categories', $event); changeSelectedCategories(category, $event.target.checked)">

                <span>{{category.name}}</span>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="form-section admin clearfix">
        <div class="form-field clearfix" *ngIf="userIsAdmin()">
          <button *ngIf="!org.featured" (click)="save('featured', true)">Set featured org</button>
          <button *ngIf="org.featured" (click)="save('featured', false)">Unset featured org</button>
        </div>
      
        <button (click)="deleteOrg()">Delete this org</button>
      </div>
    </div>

    <div class="preview-pane col-md-6 pull-right">
      <div class="preview-section visuals">
        <div class="header-preview"
            [ngClass]="{'has-cover-image': org.coverImage}"
            [ngStyle]="{'background-image': org.coverImage ? 'url(' + org.coverImage + ')' : 'url(app/images/cover-icons-overlay.png)'}">
          
          <div class="org-avatar inside-org" *ngIf="org.avatar" [ngStyle]="{'background-image': 'url(' + org.avatar + ')'}"></div>
        </div>
      </div>

      <div class="preview-section basics">
        <h4 class="name-preview">{{org.name}}</h4>
        <p class="slug-preview" *ngIf="org.slug">
          <a href="http://giv.community/organization/{{org.slug}}" target="_blank"><span>giv.community/organization/</span>{{org.slug}}</a>
        </p>
        <p class="description-preview" [innerHTML]="org.description"></p>
      </div>

      <div class="preview-section calls-to-action">
        <a class="donate-link donate-link-preview" [href]="org.donateLink" target="_blank">
          <button class="donate-button">{{org.donateLinkCopy || 'Donate'}}</button>
        </a>
        <p class="centered">Try it out!</p>

        <div class="other-links" *ngIf="org?.otherLinks?.length">
          <h4>Other ways to help</h4>
          <ul>
            <li *ngFor="let otherLink of org.otherLinks">
              <a target="_blank" [href]="otherLink.href">{{otherLink.copy}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>