.manage-org-page {
	margin-top: -0.6em;
}

.header-preview {
	width: 100%;
	height: 14em;
}

h2 {
	margin-bottom: 0.5em;
}

h2 span {
	font-weight: 500;
}

/* FORM */

.giv-form {
	padding-right: 30px;
}

.form-section {
	margin-bottom: 2em;
}

.other-links {
	float: left;
	margin-top: 1.6em;
}

.other-link {
	position: relative;
	float: left;
	clear: both;
	width: 73%;
	margin-bottom: 0.5em;
}

.other-link input {
	width: 100%;
}

.other-link .remove {
	position: absolute;
    right: -2.5em;
    top: 1.65em;
}

.categories-list {
	float: left;
}





/* PREVIEW PANE */

@media screen and (min-width: 768px) {
	.preview-pane {
		float: right !important;
	}
}

/* Visuals */
.preview-section.visuals {
	margin-bottom: 9em;
}

.org-avatar {
	font-size: 1.4em;
	position: absolute;
		top: auto;
		bottom: 1em;
		left: 1em;
		z-index: 101;
}

/* Basics */
.preview-section.basics {
	margin-bottom: 13em;
}

.slug-preview a {
	font-family: 'Hind', 'Roboto', Helvetica, sans-serif;
	font-weight: 500;
}

.slug-preview a span {
	opacity: 0.5;
	font-weight: normal;
}

.description-preview {
	height: 12.4rem;
	overflow-y: scroll;
}

/* Calls to action */
.preview-section.calls-to-action {
	margin-bottom: 5em;
}

.preview-section.calls-to-action p {
	float: left;
	width: 100%;
	margin-top: 0.6em;
}

/* Facebook */
.preview-section.facebook {

}