<div class="manage-org-page" *ngIf="isLoaded">
	<a *ngIf="org.slug" [routerLink]="['/organization', org.slug]">Back to page</a>
	<a *ngIf="!org.slug" [routerLink]="['/organization', 'i', org._id]">Back to page</a>
	<h4>Manage {{org.name}}</h4>
	<img [src]="org.coverImage" width="200">

  <button (click)="deleteOrg()">Delete this org</button>

	<div class="form-block">
		<input type="file"
			class="form-control"
  		ngFileSelect
      [options]="uploadOptions"
      (onUpload)="handleUpload($event)">

    <span class="upload-status" *ngIf="progress && stillWorking"><i class="fa fa-circle-o-notch fa-spin"></i></span>
    <span class="upload-status" *ngIf="progress && !stillWorking"><i class="fa fa-check"></i></span>
    <span class="editing-tip">If you want to upload a file larger than 3 MB, go <a href="http://compressjpeg.com">here for JPEGs</a> and <a href="http://tinypng.com">here for PNGs.</a></span>
  	<span class="editing-tip">If your file is publicly accessible on the Internet, simply paste the link below.</span>
  </div>
  <div class="form-block">
    <input [(ngModel)]="name"
          class="form-control"
          ngControl="name"
          name="name"
          placeholder="Change the name of your page"><button (click)="editOrg('name')"><i [hidden]="!loading_name" class="fa fa-circle-o-notch fa-spin"></i>Apply</button>
  </div>
  <div class="form-block">
    <input [(ngModel)]="description"
          class="form-control"
          ngControl="description"
          name="description"
          placeholder="Change the description of your page"><button (click)="editOrg('description')"><i [hidden]="!loading_name" class="fa fa-circle-o-notch fa-spin"></i>Apply</button>
  </div>
  <div class="form-block">
  	<input [(ngModel)]="coverImageLink"
  				class="form-control"
  				name="coverImageLink"
  				placeholder="Change the cover image"><button (click)="editOrg('coverImage', coverImageLink)"><i [hidden]="!loading_coverImage" class="fa fa-circle-o-notch fa-spin"></i>Apply</button>
  </div>
  <div class="form-block">
    <input [(ngModel)]="videoLink"
          class="form-control"
          name="videoLink"
          placeholder="Add a link to a youtube video"><button (click)="editOrg('videoLink')"><i [hidden]="!loading_videoLink" class="fa fa-circle-o-notch fa-spin"></i>Apply</button>
  </div>
  <div class="form-block">
  	<input [(ngModel)]="donateLink"
  				class="form-control"
  				name="donateLink"
  				placeholder="Change the main Donate link"><button (click)="editOrg('donateLink')"><i [hidden]="!loading_donateLink" class="fa fa-circle-o-notch fa-spin"></i>Apply</button>
  </div>
  <div class="form-block">
    <select
        (change)="editOrg('donateLinkCopy', $event.target.value)"
        [(ngModel)]="org.donateLinkCopy"
        name="donateLinkCopy"
        class="form-control">
      <option
        *ngFor="let copy of callsToAction"
        [value]="copy">{{copy}}</option>
    </select>
  </div>
  <div class="form-block">
  	<input [(ngModel)]="slug"
  				class="form-control"
  				(keyup)="checkForUniqueSlug($event)"
  				ngControl="slug"
  				name="slug"
  				placeholder="Change your page's identifier (currently {{org.slug}})"><button [disabled]="!slugIsValid" (click)="editOrg('slug', slug)"><i [hidden]="!loading_slug" class="fa fa-circle-o-notch fa-spin"></i>Apply</button>
  </div>
  <div class="form-block">
    <div *ngFor="let category of categories">
      <input
        type="checkbox"
        [checked]="orgHasCategory(category)"
        (change)="changeSelectedCategories(category, $event.target.checked)">
      <label>{{category.name}}</label>
    </div>
    <button (click)="editOrg('categories', org.categories)"><i [hidden]="!loading_categories" class="fa fa-circle-o-notch fa-spin"></i>Apply</button>
  </div>
	<div class="form-block">
  	<button *ngIf="!org.featured" (click)="editOrg('featured', true)">Set featured org</button>
  	<button *ngIf="org.featured" (click)="editOrg('featured', false)">Unset featured org</button>
	</div>
</div>