.org-details {
	padding: 1.2em 0;
	margin-bottom: 1em;

	background: #f4f9f8;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.in-list .org-details-content {
	padding: 1em 0;
}

.other-links {
	padding-top: 1.5em;
}

.other-links h5 {
	margin-bottom: 0.1em;
}

.other-links ul {
	list-style: none;
	padding-left: 0;
	padding-top: 0.4em;
}

.other-links li {
	padding-left: 0.5em;
	border-left: 3px solid #e7eceb;
	margin-bottom: 0.4em;
	line-height: 1.1;
}

.other-links li a {
	font-size: 0.8em;
	text-decoration: underline;
	font-weight: bold;
}

.other-links li a:hover {
	text-decoration: none;
}