<div class="org-details clearfix" [ngClass]="{'in-single': isSingle, 'in-list': !isSingle}">
	<div class="col-md-12">
		<div class="org-details-content item-details" [ngClass]="{'col-md-6': isSingle}">

			<p class="org-categories">Categories: <span *ngFor="let category of org.categories; let i = index;"><a [routerLink]="['', 'category', category.id]">{{category.name}}</a>&nbsp;<span *ngIf="(i+1) < org?.categories.length">|</span>&nbsp;</span></p>
			<p *ngIf="isSingle && org?.type" class="org-type">Type: {{org.type}}</p>
			<p class="org-description" [innerHTML]="org.description | truncate: truncateDescription"></p>
			<p class="read-more" *ngIf="descriptionIsLong()">
				<span class="inside-org" *ngIf="showReadMore()" (click)="readMore()">Show more</span>
				<span class="inside-org" *ngIf="showReadLess()" (click)="readLess()">Show less</span>
			</p>
		</div>
		<div class="org-details-ctas" [ngClass]="{'col-md-6': isSingle}">
			<a class="donate-link" [href]="org.donateLink" target="_blank">
				<button class="donate-button">{{org.donateLinkCopy || 'Donate'}}</button>
			</a>
			<div class="other-links" *ngIf="isSingle && org?.otherLinks?.length">
				<h4>Other ways to help</h4>
				<ul>
					<li *ngFor="let otherLink of org.otherLinks">
						<a target="_blank" [href]="otherLink.href">{{otherLink.copy}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div *ngIf="isSingle && org?.facebook?.length && org?.facebook !== 'undefined'" class="fb-page col-md-6 pull-right">
			<iframe [attr.src]="facebookLink" [attr.width]="'340'" [attr.height]="'148'" [attr.style]="'border:none;overflow:hidden'" [attr.scrolling]="'no'" [attr.frameborder]="'0'" [attr.allowTransparency]="'true'"></iframe>
		</div>
	</div>
</div>