.posts-container.posts-by-org {
	background: #F2F7F6;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.posts-by-org section {
	background-color: #fff;
}

.posts-container header {
	margin-bottom: 0.7em;
}

.posts {
	padding-top: 0.2em;
	padding-bottom: 0.5em;

	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s
}

.posts.is-loading {
	opacity: 0.4;
}

.posts-by-org .posts-title {
	font-weight: 500;
}

.post {
	padding: 1em 0 0.7em;
}

.post:not(:last-child) {
	border-bottom: 2px solid #edF2F1;
}

.browsing .post {
	font-size: 0.85em;
}

.post-inner {
	padding-left: 3.6em;
}

.post-meta {
	margin-bottom: 0;
}

.post-date {
	display: inline-block;
	margin-left: 0.4em;
}

.post-title {
	cursor: pointer;
	margin-bottom: 0.2em;
	
	font-family: Helvetica, 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: underline;
}

.post-content {
	margin-bottom: 0;
}

.posts-by-org .post-inner {
	padding-left: 0;
}

.org-avatar {
	cursor: pointer;
	float: left;
	width: 2.6em;
	height: 2.6em;
	border-radius: 0.1em;
  border: 1px solid #F1F6F5;
}


