<div class="posts-by-org" id="posts">

	<h2>What they're up to</h2>
	<p *ngIf="!org" class="subtitle">See where your money's going</p>
	<search-box
		class="search-box-container clearfix"
		*ngIf="(!org?._id || !isBrowsing) && !isLoading"
		(update)="searchPosts($event)"
		(focusChange)="toggleSearchBoxFocus($event)"
		[ngClass]="{focused: searchBoxIsFocused}"
		[collection]="searchPlaceholder"></search-box>

	<create-post *ngIf="user && (user?.permissions?.indexOf(org?.globalPermission) > -1) && !isBrowsing" [org]="org" [user]="user" (update)="updatePosts($event)"></create-post>
	
	<!-- Posts -->
	<section *ngIf="!viewingOne && !loadingPosts" class="posts col-md-12">
		<div #singlePost *ngFor="let post of posts" (click)="selectPost(post._id)">
			<img *ngIf="post?.featuredImage?.length" [src]="post.featuredImage" width="100">
			<h5 class="post-title">{{post.title}}</h5>
			<p class="post-content">{{post.content | truncate:200}}</p>
		</div>

		<button *ngIf="posts.length > 19" id="show-more" class="row btn btn-default" (click)="showMore(10, posts.length)">Show more</button>
	</section>

	<!-- View Post -->
	<section *ngIf="viewingOne && selectedPost" class="col-md-12">
		<a (click)="deselectPost()" [routerLink]="['/organization/i', org?._id]">Back to posts</a>
		<img *ngIf="selectedPost?.featuredImage?.length" [src]="selectedPost.featuredImage" width="100">
		<h5>{{selectedPost.title}}</h5>
	</section>

</div>