<create-post *ngIf="org && user && userHasPermission(org) && !isBrowsing" [org]="org" [user]="user" (update)="updatePosts($event)" (postAdd)="createPost($event)"></create-post>
<div class="clearfix posts-container"
		[attr.id]="!isBrowsing ? 'posts' : null"
		[ngClass]="{'posts-by-org': org, 'browsing': isBrowsing, 'single section': org && !isBrowsing, 'col-md-12': org && !isBrowsing}">

	<header [ngClass]="{'col-md-12': org && !isBrowsing}">
		<h4 class="posts-title" *ngIf="org">Updates</h4>
		<h2 class="posts-title" *ngIf="!org && isBrowsing">Updates <span class="mobile-tab-button" (click)="showOrgs()">Organizations</span></h2>

		<p *ngIf="!org" class="subtitle">See where your money's going</p>
		<search-box
			class="search-box-container clearfix"
			*ngIf="(!org?._id || !isBrowsing) && !isLoading"
			(update)="searchPosts($event)"
			(focusChange)="toggleSearchBoxFocus($event)"
			[ngClass]="{focused: searchBoxIsFocused}"
			[collection]="searchPlaceholder"></search-box>
	</header>

	<!-- Posts -->
	<div [ngClass]="{'col-md-12': org && !isBrowsing}">
		<section *ngIf="!viewingOne && posts?.length" class="posts col-md-12" [ngClass]="{'is-loading': loadingPosts}">
			<div #singlePost
					class="post clearfix"
					[ngClass]="{'has-featured-image': post?.featuredImage?.length}"
					*ngFor="let post of posts">
				<div *ngIf="!org"
						[ngStyle]="{'background-image': 'url(' + orgsByPost[post._id]?.avatar + ')'}"
						class="org-avatar bg-image"
						(click)="selectPost(post._id)"></div>
				<div class="post-inner">
					<p class="post-meta">
						<strong *ngIf="!org" class="post-org">{{orgsByPost[post._id]?.name}}<span> &middot; </span></strong>
						<span class="post-date">{{post?.dateCreated | date: MMMEEEEd}}</span>
					</p>
					<h5 class="post-title" (click)="selectPost(post._id)">{{post.title}}</h5>
					<p class="post-content">{{post.content | truncate:100}}</p>
				</div>
			</div>
			<button *ngIf="tooFewPosts()"
					id="show-more"
					(click)="showMore(10, posts.length)">Show more</button>
		</section>
		<section class="null-search col-md-12" *ngIf="!isLoading && posts.length === 0">
				<p>No posts to show.</p>
		</section>

		<!-- View Post -->
		<section *ngIf="viewingOne && selectedPost" class="single-post col-md-12">
			<a class="back-btn" (click)="deselectPost()">
				<i class="fa fa-long-arrow-left"></i>
				Back to posts
			</a>
			<div class="bg-image featured-image" 
					*ngIf="selectedPost?.featuredImage?.length"
					[ngStyle]="{'background-image': 'url(' + selectedPost.featuredImage + ')'}"></div>
			<div class="post-inner" *ngIf="!isEditing">
				<h3 class="post-title single-post-title">{{selectedPost.title}}</h3>
				<p class="post-meta">
					<strong *ngIf="!org" class="post-org">{{orgsByPost[selectedPost._id]?.name}}<span> &middot; </span></strong>
					<span class="post-date">{{selectedPost?.dateCreated | date: MMMEEEEd}}</span>
				</p>
				<p *ngIf="!selectedPost.treatedContent" class="post-content single-post-content">{{selectedPost.content}}</p>
				<p *ngIf="selectedPost.treatedContent" [innerHTML]="selectedPost.treatedContent" class="post-content single-post-content"></p>
			</div>
			<button *ngIf="userHasPermission(org)" (click)="editPost()">Edit</button>
			<button *ngIf="userHasPermission(org)" (click)="deletePost(selectedPost)">Delete</button>
			<div *ngIf="isEditing">
				<input [(ngModel)]="selectedPost.title">
				<textarea [(ngModel)]="selectedPost.content"></textarea>
				<input [(ngModel)]="selectedPost.featuredImage">
				<button (click)="savePost(selectedPost)">Save</button>
			</div>
		</section>
	</div>
</div>