.posts-container.posts-by-org {
	background: #F2F7F6;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.single {
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.posts-by-org section {
	background-color: #fff;
}

.single section {
	padding-right: 30px;
	padding-left: 30px;
}

.posts-container header {
	margin-bottom: 0.7em;
}

.posts {
	padding-top: 0.2em;
	padding-bottom: 0.5em;

	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s
}

.posts.is-loading {
	opacity: 0.4;
}

.posts-by-org .posts-title {
	font-weight: 500;
}
.single .posts-title {
	margin-bottom: 0.4em;
}

.post {
	padding: 1em 0 0.7em;
}
.single-post {
	padding-bottom: 2em;
}
.single .post {
	padding: 1.3em 0;
}
.post:not(:last-child) {
	border-bottom: 2px solid #edF2F1;
}

.browsing .post {
	font-size: 0.85em;
}

.post-inner {
	padding-left: 3.6em;
}

.post-meta {
	font-size: 0.75em;
	font-weight: bold;
	margin-bottom: 0;
}
.single-post .post-meta {
	margin-top: -0.2em;
	margin-bottom: 0.55em;
}

.post-org {
	opacity: 0.8;
}
.post-org span {
	opacity: 0.6;
}
.post-date {
	opacity: 0.5;
}

.post .post-title {
	cursor: pointer;
	margin-bottom: 0.2em;
	
	font-family: Helvetica, 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: underline;
}

.single-post .post-title {
	font-weight: 500;
}

.post-content {
	margin-bottom: 0;
}

.posts-by-org .post-inner {
	padding-left: 0;
}

.org-avatar {
	cursor: pointer;
	float: left;
	width: 2.6em;
	height: 2.6em;
	border-radius: 0.1em;
  border: 1px solid #F1F6F5;
}

.read-more {
	margin-top: 0.8em !important;
}

.featured-image {
	width: 100%;
	height: 18em;
	max-width: 32em;
	margin-bottom: 1em;
}

@media only screen and (max-width: 579px) {
	.posts-container.browsing > header {
		padding-left: 15px;
		padding-right: 15px;
	}
}
