.org-details {
	padding: 1.2em 0;
	margin-bottom: 1em;

	background: #f4f9f8;
	background: transparent;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.in-single.org-details {
	margin-bottom: 0;
}

.in-single .org-details-content {
	padding-bottom: 1em;
}

.org-details.in-list {
	padding: 0;
}

.org-details.in-list > div {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.in-list .org-details-content {
	padding: 1em 0;
}

.other-links {
	padding-top: 1.5em;
}

.other-links h4 {
	margin-bottom: 0.1em;
}

.other-links ul {
	list-style: none;
	padding-left: 0;
	padding-top: 0.4em;
}

.other-links li {
	padding-left: 0.5em;
	border-left: 3px solid #e7eceb;
	margin-bottom: 0.4em;
	line-height: 1.1;
}

.other-links li a {
	font-size: 0.8em;
	text-decoration: underline;
	font-weight: bold;
}

.other-links li a:hover {
	text-decoration: none;
}

.org-type {
	font-size: 0.75em;
	opacity: 0.5;
	font-weight: bold;
}

.fb-page {
	margin-top: 1em;
	overflow: hidden;
}