.org header {
  position: relative;
  background-color: #5D8BD5;
  background-size: 14em auto;
  background-repeat: repeat;
  background-position: 50% 50%;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2)
}

.has-cover-image header,
.has-video header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.org .header-inner {
  padding: 2em 1.5em;
  -webkit-transition: all 0.7s cubic-bezier(0.5,0,0.2,1);
  transition: all 0.7s cubic-bezier(0,0.5,0.2,1);
  color: #fff;
  background-color: rgba(0,0,0,0.2);
}

.has-cover-image .header-inner {
  
}

.orgs-list .has-cover-image .header-inner {
  /*background-color: rgba(0,0,0,0.5);*/
}

.org.selected .header-inner {
  padding: 8em 1.5em 1.2em;
}

.header-inner .header-left {
  float: left;
  width: 2.5em;
}

.header-inner .header-right {
  padding-left: 3.6em;
}

.org-avatar {
  float: left;
  position: relative;
    top: 0.1em;
  background-color: #333;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.8em;
  border-radius: 0.1em;
  border: 1px solid #F1F6F5;
}

.org .exit {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  padding: 1em 1.2em;
}

.org .star i {
  font-size: 1.4em;
  position: relative;
    top: 0.08em;
}

header h4 {
  font-family: "Hind", Helvetica, "Roboto", sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1;
}

header h4 a, header h4 a:hover {
  text-decoration: none;
  color: #fff;
}

.org header .info {
  margin-bottom: 0;
}

.org .preview {
  opacity: 1;
  -webkit-transition: all 0.7s cubic-bezier(0.5,0,0.2,1);
  transition: all 0.7s cubic-bezier(0,0.5,0.2,1);
}

.org .stars-preview {
  position: absolute;
  z-index: 100;
  top: 7.58em;
  left: 2.4em;
  opacity: 0.8;

  font-size: 0.66em;
  font-weight: lighter;
}

.org.selected .preview {
  opacity: 0 !important;
  transition: opacity 0.7s;
}

.org.selected .stars-preview {
  top: 18em;
}

.posts-by-org.browsing {
  margin-top: 1.4em;
}

header .description.preview {
  padding-left: 4.55em;
}

.donate-link {
  display: block;
}

.donate-button {
  font-family: 'Hind', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  width: 100%;
  background: linear-gradient(20deg, #53E4ED, #4fead1);
}

.donate-button:hover {
  background: #53E4ED;
}

.org-categories a {
  font-weight: bold;
}