.starred-orgs header,
.recommended-orgs header {
  margin-bottom: 0.2em;
}

.starred-orgs h2,
.recommended-orgs h2 {
  margin-top: 0.4em;
}

section.org {
  border: 0 none;
}

.recommended-orgs:not(.in-starred) .org {
  font-size: 0.9em;
}

.org header,
.header-preview {
  position: relative;
  background-color: #7Dadd7;
  background-size: 12em auto;
  background-repeat: repeat;
  background-position: 50% 50%;
  border-radius: 2px;

  color: rgba(255,255,255,0.6);
  text-shadow: 0px -1px 0px rgba(50,50,50,0.3);
}

.has-cover-image header,
.has-video header,
.header-preview.has-cover-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.org .header-inner {
  padding: 2.3em 1.5em;
  -webkit-transition: all 0.7s cubic-bezier(0.5,0,0.2,1);
  transition: all 0.7s cubic-bezier(0,0.5,0.2,1);
  color: #fff;
}

.orgs-list .header-inner {
  min-height: 7.5em;
}

.recommended-orgs .header-inner {
  padding: 2em 1.7em;
}

.has-cover-image .header-inner,
.single-org.has-video .header-inner {
  background-color: rgba(20,40,50,0.65);
}

.orgs-list .has-cover-image .header-inner {
  background-color: rgba(20,40,50,0.8);
}

.org.selected .header-inner {
  padding: 8em 1.5em 0.8em;
}

.header-inner .header-left {
  float: left;
  width: 2.5em;
}

.header-inner .header-right {
  padding-left: 3.6em;
}

.org-avatar {
  float: left;
  position: relative;
    top: 0.1em;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.8em;
  border-radius: 0.1em;
  border: 2px solid #F1F6F5;
}

.org .exit {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  padding: 1em 1.2em;
}

.org .star i {
  font-size: 1.4em;
  position: relative;
    top: 0.08em;
}

header h4 {
  font-family: "Hind", Helvetica, "Roboto", sans-serif;
  margin-bottom: 0;
  line-height: 1;
}

header h4 > a, header h4 > a:hover {
  display: inline-block;
  line-height: 1.1;
  text-decoration: none;
  color: #fff;
  max-height: 1em;
  overflow: hidden;
}

.org header .info {
  margin-top: -0.18em;
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.org .preview {
  opacity: 1;
  -webkit-transition: all 0.7s cubic-bezier(0.5,0,0.2,1);
  transition: all 0.7s cubic-bezier(0,0.5,0.2,1);
}

.org .stars-preview {
  position: absolute;
  z-index: 100;
  top: 8.1em;
  left: 2.4em;
  opacity: 0.8;

  font-size: 0.66em;
  font-weight: lighter;
}

.org.selected .preview {
  opacity: 0 !important;
  transition: opacity 0.7s;
}

.org.selected .stars-preview {
  top: 18em;
}

.posts-by-org.browsing {
  margin-top: 1.4em;
}

.donate-link {
  display: block;
}

.donate-button {
  font-family: 'Hind', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  width: 100%;
}

.org-categories a {
  font-weight: bold;
}

.read-more, .read-less {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.mobile-tab-button {
  display: none;
}

.browse-posts,
.recommended-orgs,
.starred-orgs {
  padding-right: 0;
}

/*.recommended-orgs {
  padding-left: 30px;
}*/

.desktop-tab {
  display: none;
}
.desktop-tab.active {
  display: block;
}
.desktop-tab-button {
  display: inline-block;
  cursor: pointer;
  padding-left: 0.2em;
  font-size: 0.8em;
  opacity: 0.5;
}
.desktop-tab-button:hover {
  opacity: 0.7;
}

.official-badge {
  position: relative;
    top: -0.2rem;
  display: inline-block;
  padding-left: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url("app/images/official.png") no-repeat left top;
  background-size: 0.8rem auto;
  background-size: cover;
}

.featured-org .official-badge {
  top: -0.3em;
}

@media only screen and (max-width: 767px) {
  .mobile-tab {
    display: none;
  }
  .mobile-tab:not(.browse-orgs) {
    padding-right: 0;
    padding-left: 0;
  }
  .mobile-tab.active {
    display: block;
  }

  .mobile-tab-button {
    display: inline-block;
    cursor: pointer;
    padding-left: 0.2em;
    font-size: 0.8em;
    opacity: 0.5;
  }
  .mobile-tab-button:hover {
    opacity: 0.7;
  }
}

@media only screen and (max-width: 767px) {
  .browse-posts,
  .recommended-orgs {
    padding-left: 0;
  }
}

@media only screen and (max-width: 579px) {
  .browse-orgs > header {
    padding-right: 30px;
    padding-left: 30px;
  }
  .starred-orgs > header,
  .recommended-orgs > header {
    padding-right: 45px;
    padding-left: 45px;
  }
  
  search-box + select {
    float: none;
    margin-top: 0.7em;
    font-size: 1.05em;
  }
}