<div *ngIf="(user || org) && recommendedOrgsAreLoaded"
		class="recommended-orgs col-md-8"
		[ngClass]="{'in-single row': org, 'in-favorites': inFavorites}">
	<header>
		<h2>Recommended <span *ngIf="inFavorites" class="desktop-tab-button" (click)="showFavorites()">Favorites</span></h2>
		<p class="subtitle">We think you might like these orgs</p>
	</header>

	<section class="null-search" *ngIf="!recommended.length">
			<p>No organizations to show. Save some to your favorites, and watch recommendations appear here!</p>
	</section>

	<div *ngIf="recommended?.length" class="items-list orgs-list col-md-12">

	<!--*******
		Orgs Loop
		*********-->
		<org
			*ngFor="let org of recommended"
			[org]="org"
			[user]="user"
			[selected]="selectedOrg"
			(onSelect)="viewOrg($event)"
			(onDeselect)="deselectOrg($event)"
			#singleItem></org>
			
	</div>
</div>