<div class="account-settings" *ngIf="isLoaded">

	<h2>Reset your password</h2>

  <div class="row">
    <div class="giv-form col-md-7">

      <div class="form-section clearfix">
        <form-field
          [title]="'New password'"
          [name]="'newPassword'"
          [type]="'password'"
          [noSave]="true"
          (onChange)="updatePasswords('password', $event)"></form-field>

        <form-field
          [title]="'New password again'"
          [name]="'confirmPassword'"
          [type]="'password'"
          [noSave]="true"
          (onChange)="updatePasswords('confirm', $event)"></form-field>

        <button class="submit" (click)="savePassword()">Reset password</button>
      </div>
    </div>
  </div>


</div>