.search-box {
	position: relative;
}

input {
	display: block;
	width: 100%;
	padding: 0.4em 7.1em 0.28em 2.15em;
	font-size: 1.5em;
	font-weight: 300;
  color: #999194;

  background: url('app/images/search-icon-2x.png') no-repeat 0.8em 50%;
  background-size: 0.8em 0.8em;
}

input,
input:focus {
	outline: none !important;
	border: 0 none;
	background-color: transparent;
	box-shadow: none !important;
}

.search-button {
	display: block;
	cursor: pointer;
	background: transparent;
  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 100;
  width: 3em;
  height: 3.4em;
}

@media only screen and (max-width: 579px) {
	input {
		padding-right: 0;
	}

	.search-box {
    font-size: 0.9em;
  }
}