<div class="video-container clearfix">
	<div *ngIf="org?.videoLink"
			class="featured-video"
			[ngClass]="{'expanded': videoIsExpanded}"
			[ngStyle]="{'background-image': 'url(' + videoBg + ')'}">
		<iframe frameborder="0" height="100%" width="100%" 
		  [src]="videoLink">
		</iframe>
	</div>
	<div class="expand-video">
		<button *ngIf="!videoIsExpanded" (click)="expandVideo()"><i class="fa fa-play"></i> Play the video</button>
		<button *ngIf="videoIsExpanded" (click)="minimizeVideo()">Minimize the video</button>
	</div>
</div>
<div *ngIf="!org?.videoLink && org?.coverImage"
	class="cover-image"
	[ngStyle]="{'background-image': 'url(' + org.coverImage + ')'}"></div>
<div class="single-org" *ngIf="isLoaded" [ngClass]="{ 'has-video': org?.videoLink }">
	<h4>{{org.name}}</h4>
	<org-details [org]="org" [isSingle]="true"></org-details>
					
	<a *ngIf="user && user.permissions.indexOf(org.globalPermission) > -1" href="/organization/manage/{{org?._id}}">Manage</a>

	<org-posts [org]="org" [user]="user"></org-posts>

</div>