.org {
	position: relative;
}

.video-container {
	position: relative;
	overflow: hidden;
}

.featured-video, .cover-image {
	width: 100%;
	height: 18em;
	position: relative;
		z-index: -1;

	background-color: #5D8BD5;
	background-size: 14em auto;
	background-repeat: repeat;
	background-position: 50% 50%;
}

.has-cover-image .cover-image,
.has-video .featured-video {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;
}

.featured-video:not(.cover-image) {
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

.featured-video iframe {
	opacity: 0;
}

.featured-video.expanded {
	height: 30em;
	z-index: 102;
	-webkit-filter: none;
	filter: none;
}

.featured-video.expanded iframe {
	opacity: 1;
}

.expand-video {
	float: right;
	position: absolute;
		bottom: 1em;
		right: 1em;
	z-index: 103;
	font-size: 0.8em;
}

.single-org header {
	margin-top: -4.8em;
  margin-bottom: 3em;
	margin-left: 1.5em;

	background: transparent;
	color: #fff;
}

.org-name {
	font-weight: normal;
	margin-bottom: 0;
	line-height: 1;
	font-size: 2em;
}

header .stars {
	margin-top: 0;
}

.options-menu {
	position: absolute;
		top: 1em;
		right: 1em;
		z-index: 101;
	width: 9em;
}

.options-menu .icon-btn {
	position: absolute;
		top: 0;
		right: 0;
}

.options-menu .submenu {
	bottom: auto;
	top: 2.4em;
	right: 0;
}
