<div class="starred-orgs mobile-tab desktop-tab col-md-8"
		[ngClass]="{'active': showStarredMobileTab}">
	<header class="row col-md-12">
		<div class="row">
			<h2>Starred <span class="desktop-tab-button" *ngIf="user" (click)="showRecommended()">Recommended</span></h2>
			<p class="subtitle">Here you can keep track of organizations you like</p>
		</div>
	</header>

	<div *ngIf="!user" class="row col-md-12">
		<div class="row">
			<section class="null-search">
				<p>Log in to begin starring your favorite organizations, and watch them appear here.</p>
			</section>
			<button class="big-button" [routerLink]="['/login']">Log in</button>
		</div>
	</div>

	<div class="row items-list orgs-list col-md-12"
			*ngIf="user"
			[ngClass]="{'loading-more-orgs': loadingShowMoreOrgs}">

		<section class="null-search row" *ngIf="orgs.length === 0">
			<p>No organizations to show. Star some, and watch them appear here!</p>
		</section>

	<!--*******
		Orgs Loop
		*********-->
		<org
			*ngFor="let org of orgs"
			[org]="org"
			[user]="user"
			(onSelect)="viewOrg($event)"
			(onDeselect)="deselectOrg($event)"
			(onStar)="starOrg($event)"
			(onUnstar)="unstarOrg($event)"
			#singleItem></org>
	</div>
</div>

<div class="mobile-tab desktop-tab"
		*ngIf="user"
		[ngClass]="{'active': showRecommendedMobileTab}">
	<recommended-orgs (tabChange)="showStarred($event)" [orgs]="orgs" [inStarred]="true"></recommended-orgs>
</div>

