<div class="col-md-9 browse-orgs" *ngIf="!isLoading" style="margin-top: 1.4rem">
	<header class="row col-md-12">
		<div class="row">
			<h2>Verify Organizations</h2>
			<p class="subtitle">People doing important work right now</p>
		</div>
	</header>

	<div class="row items-list orgs-list col-md-12"
			[ngClass]="{'loading-orgs': loadingOrgSearch, 'loading-more-orgs': loadingShowMoreOrgs}">

		<div *ngIf="orgs.length === 0" class="row">
			<section class="null-search">
				<p>No orgs to show. Try broadening your search.</p>
			</section>
		</div>

		<div class="row">
			<search-box
			class="org-search-box search-box-container clearfix"
			*ngIf="!isLoading"
			(update)="searchOrgs($event)"
			(focusChange)="toggleSearchBoxFocus($event)"
			[ngClass]="{focused: searchBoxIsFocused}"
			[collection]="'organizations'"></search-box>

			<select *ngIf="!isLoading"
					[value]="categoryFilter?.id || 'all'"
					(change)="filterByCategory(getCategoryById($event.target.value))">
				<option [value]="'all'" selected>All categories</option>
				<option *ngFor="let category of categoriesList" [value]="category?.id">{{category?.name}}</option>
			</select>
		</div>
	<!--*******
		Orgs Loop
		*********-->
		<org
			*ngFor="let org of orgs"
			[org]="org"
			[user]="user"
			[selected]="selectedOrg"
			[verify]="true"
			(onSelect)="viewOrg($event)"
			(onDeselect)="deselectOrg($event)"
			(onStar)="starOrg($event)"
			(onUnstar)="unstarOrg($event)"
			(onVerify)="verifyOrg($event.org, $event.creator)"
			#singleItem></org>
		
		<button id="show-more"
				*ngIf="orgs?.length"
				(click)="showMore(10, orgs.length)"
				[ngClass]="{'loading': loadingShowMoreOrgs}"
				[ngStyle]="{'margin-top': '2em'}"
				[disabled]="loadingOrgSearch || isLoading">Show more</button>

	</div>

</div>

<!-- LOADING COMPONENT -->
<!-- <div class="loader" *ngIf="isLoading">
  <div class="loader__figure"></div>
  <p class="loader__label"><img src="images/logo-color-2x.png" width="30" alt="loading organizations"></p>
</div> -->
<div class="loader app-loader" *ngIf="isLoading">
  <p class="loader__label"><img src="images/logo-color-2x.gif" width="50"></p>
</div>

