<div class="col-md-9 browse-orgs" *ngIf="!isLoading">
	<header class="row col-md-12">
		<div class="row">
			<h2>Verify Organizations</h2>
			<p class="subtitle">People doing important work right now</p>
		</div>
	</header>

	<div class="row items-list orgs-list col-md-12"
			[ngClass]="{'loading-orgs': loadingOrgSearch, 'loading-more-orgs': loadingShowMoreOrgs}">

		<div *ngIf="orgs.length === 0" class="row">
			<section class="null-search">
				<p>No orgs to show. Try broadening your search.</p>
			</section>
		</div>

	<!--*******
		Orgs Loop
		*********-->
		<section class="org single-item row"
				#singleItem
				*ngFor="let org of orgs"
				(clickOutside)="deselectOrg($event, org._id)"
				[ngClass]="{'selected': viewingOrg && org._id === selectedOrg?._id, 'has-cover-image': org.coverImage, 'has-video': org.videoLink}">

			<header
					[ngStyle]="{'background-image': org.coverImage ? 'url(' + org.coverImage + ')' : 'url(app/images/cover-icons-overlay.png)'}"
					(click)="viewOrg($event, org._id)">
				<div class="header-inner">
					<div *ngIf="viewingOrg" class="inside-org header-left">
						<a *ngIf="org.slug" [routerLink]="['/organization', org.slug]">
							<div class="org-avatar inside-org" *ngIf="org.avatar" [ngStyle]="{'background-image': 'url(' + org.avatar + ')'}"></div>
						</a>
						<a *ngIf="!org.slug" [routerLink]="['/organization', 'i', org._id]">
							<div class="org-avatar inside-org" *ngIf="org.avatar" [ngStyle]="{'background-image': 'url(' + org.avatar + ')'}"></div>
						</a>
					</div>
					<div *ngIf="!viewingOrg" class="inside-org header-left">
						<div class="org-avatar inside-org" *ngIf="org.avatar" [ngStyle]="{'background-image': 'url(' + org.avatar + ')'}"></div>
					</div>
					<div class="inside-org header-right">
						<h4 class="inside-org org-name" *ngIf="!selectedOrg || org._id !== selectedOrg._id">{{org.name}}</h4>

						<p class="description preview inside-org" *ngIf="!selectedOrg || org._id !== selectedOrg._id">{{org.description | truncate:170}}</p>

						<h4 class="org-name" *ngIf="viewingOrg && org._id === selectedOrg._id">
							<a *ngIf="org.slug" [routerLink]="['/organization', org.slug]">{{org.name}}</a>
							<a *ngIf="!org.slug" [routerLink]="['/organization', 'i', org._id]">{{org.name}}</a>
							<span class="manage-org" *ngIf="userHasPermission(org)"><a [routerLink]="['/organization', 'manage', org?._id]">Manage</a></span>
						</h4>
					</div>
				</div>
			</header>
			<span class="exit" (click)="deselectOrg($event, org._id)" *ngIf="viewingOrg && org._id === selectedOrg._id">
				<img src="app/images/x.svg" width="16" height="16" alt="exit">
			</span>

			<div class="org-expanded clearfix" *ngIf="viewingOrg && org._id === selectedOrg._id" [ngClass]="{'expanded': singleDetailsAreLoaded}">
				<org-details (update)="revealOrgDetails($event)" [org]="selectedOrg"></org-details>
				<button (click)="verifyOrg(org)">Verify this org</button>
			</div>
		</section>
		
		<button id="show-more"
				*ngIf="orgs?.length"
				(click)="showMore(10, orgs.length)"
				[ngClass]="{'loading': loadingShowMoreOrgs}"
				[disabled]="loadingOrgSearch || isLoading">Show more</button>
	</div>

</div>

<!-- LOADING COMPONENT -->
<!-- <div class="loader" *ngIf="isLoading">
  <div class="loader__figure"></div>
  <p class="loader__label"><img src="images/logo-color-2x.png" width="30" alt="loading organizations"></p>
</div> -->
<div class="loader app-loader" *ngIf="isLoading">
  <p class="loader__label"><img src="images/logo-color-2x.gif" width="50"></p>
</div>

