<div class="your-giving col-md-12" [hidden]="!user || !isLoaded">

  <div class="no-donations row" *ngIf="user && !user?.donations?.length">
    <div class="col-md-12">
      <section class="null-search">
        <p>Log your first donation and start tracking your giving!</p>
      </section>
    </div>
  </div>

  <div [hidden]="!user?.donations?.length" class="dashboard row">
    <div class="totals-container col-md-6">
      <section class="totals">
        <h3>Total given</h3>
        <div class="circle-container col-md-6">
          <div #circle
              class="circle dollars"
              (window:resize)="resizeCircles()"
              [ngStyle]="{'height': circleHeight + 'px', 'line-height': circleHeight + 'px'}">
            <div class="circle-inner">
              <h2>{{totalDollars}}</h2>
              <span>dollars</span>
            </div>
          </div>
        </div>

        <div class="circle-container col-md-6">
          <div #circle2
              class="circle hours"
              (window:resize)="resizeCircles()"
              [ngStyle]="{'height': circleHeight + 'px', 'line-height': circleHeight + 'px'}">
            <div class="circle-inner">
              <h2>{{totalHours}}</h2>
              <span>hours</span>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-md-6">
      <section class="breakdown">
        <h3>Breakdown</h3>
        <div class="graphs clearfix">
          <div class="org-breakdown pull-left" *ngFor="let data of donationsByOrg">
            <div class="subtotals">
              <span class="dollars" *ngIf="data.dollars">${{data.dollars}}</span>
              <span class="divider" *ngIf="data.dollars && data.hours">|</span>
              <span class="hours" *ngIf="data.hours">{{data.hours}} hrs</span>
            </div>
            <div
              class="graph"
              [ngStyle]="{'height': ((data.total / largest) * 100) + '%'}">
              
              <div
                class="dollars"
                [ngStyle]="{'height': ((data.dollars / data.total) * 100) + '%'}"></div>

              <div
                class="hours"
                [ngStyle]="{'height': ((data.hours / data.total) * 100) + '%'}"></div>

            </div>
            <div class="org-name">
              <span>{{data.orgName}}</span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <button class="add" [hidden]="isLogging" (click)="logNew()">+ Log a new donation</button>
  <div class="giv-form inline col-md-12 row" *ngIf="user && isLogging">
  	<div class="form-section clearfix">
      <h3>Log a new donation</h3>

      <div class="row">
        <div class="form-field clearfix col-md-5">
          <label class="title">Organization</label>
          <ng2-completer
            [dataService]="dataService"
            [minSearchLength]="0"
            [(ngModel)]="model.orgName"></ng2-completer>
        </div>

        <div class="form-field clearfix col-md-2">
          <label class="title">Amount</label>
          <input
            class="grey-bg no-shadow"
            *ngIf="donationType === 'dollars'"
            [attr.type]="'number'"
            [attr.name]="'dollars'"
            [attr.id]="'dollars'"
            [(ngModel)]="model.dollars">

          <input
            class="grey-bg no-shadow"
            *ngIf="donationType === 'hours'"
            [attr.type]="'number'"
            [attr.name]="'hours'"
            [attr.id]="'hours'"
            [(ngModel)]="model.hours">

          <select [(ngModel)]="donationType" style="margin-top:0.3rem">
            <option [attr.value]="'dollars'">Dollars</option>
            <option [attr.value]="'hours'">Hours</option>
          </select>
        </div>

        <div class="form-field clearfix col-md-5">
          <label class="title">Memo</label>
          <input
            class="grey-bg no-shadow"
            [attr.name]="'memo'"
            [attr.id]="'memo'"
            [(ngModel)]="model.memo">
        </div>
      </div>
    </div>
    <button class="submit" (click)="save()">Submit</button>
    <button class="cancel" (click)="cancel()">Cancel</button>
  </div>

  <table class="donations section col-md-12" *ngIf="user">
    <tbody>
      <tr class="header-row">
        <th>Organization</th>
        <th>Amount</th>
        <th colspan="2">Memo</th>
      </tr>
      <tr *ngFor="let donation of user.donations">
        <td [ngStyle]="{'width': '40%'}"><a [routerLink]="['/organization', 'i', donation.org]">{{donation.orgName}}</a></td>
        <td [ngStyle]="{'width': '15%'}">
          <span *ngIf="donation.dollars">$</span>{{donation.dollars || donation.hours}}
          <span *ngIf="donation.hours">hrs</span>
        </td>
        <td [ngStyle]="{'width': '30%'}">{{donation.memo}}</td>
        <td [ngStyle]="{'width': '5%'}">
          <button class="icon-btn" (clickOutside)="toggleOffOptionsMenu(donation.id)" (click)="toggleOptionsMenu(donation.id)">
            <img src="app/images/options-dark.svg" alt="options">
          </button>
          <ul *ngIf="optionsMenus[donation.id]" class="submenu">
            <li><a (click)="deleteLog(donation.id, donation.org)">Delete</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="!user">
  <section class="null-search">
    <p>Log in or create an account to keep track of your giving!</p>
  </section>
</div>