@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700|Hind:300,400,500,600';

/* Typography */

body {
  font-family: Helvetica, 'Roboto', Arial, sans-serif;
  margin: 0;
  background: #fcfeff;
  color: #999194;
}

h1, h2, h3, h4, h5, input, th {
  font-family: 'Hind', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-weight: 300;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -0.5px;
  color: rgba(120,110,116,0.65) !important;
  text-shadow: 0 -1px 0px rgba(255,255,255,1), 0 0.5px 0px rgba(20,13,16,0.2);
}

h4 {
  font-size: 1.5em;
  font-weight: 500;
}

a, a:hover, a:active, a:link, a:visited, a:link:active, a:visited:active {
  cursor: pointer;
  color: #999194;
  color: inherit;
}

a:hover .fa-heart {
  color: #cc0000;
}

p {
  font-size: 0.8em;
  margin-bottom: 0.7em;
}

p.info {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

p a {
  font-weight: bold;
}

.subtitle {
  margin-top: -0.5em;
}

.to-uppercase {
  text-transform: uppercase;
}

select {
  margin-bottom: 0.6em;
  min-width: 10rem;
  font-size: 0.8em;
  font-weight: normal;
  height: 2.3em;
  background: #fff;
  border: 1px solid #e1e6e5;
  border-radius: 0.1em;
  color: #b9b1b4;
}

select:focus {
  outline: 0 none !important;
  border-color: #d3F0F3;
}

/* Buttons and forms */
button, button:active, button:focus, button:hover {
  background: linear-gradient(20deg, #1AE3EF, #0DED9C);
  border: 0 none !important;
  border-radius: 2px;
  outline: none !important;
  padding: 0.6em 1em;
  font-weight: 500;
  color: inherit;
  color: rgba(255,255,255,0.9);
  text-shadow: 0px -1px 0px rgba(80,80,80,0.1);
}

button.mini, button.mini:active, button.mini:hover {
  font-size: 0.8em;
}

button:hover {
  box-shadow: 0px 1px 3px rgba(50,50,50,0.1);
  background: linear-gradient(20deg, #0AD3DF, #0DDD8C);
}

button:active {
  box-shadow: 0px 0px 1px rgba(20,20,20,0.1);
}

button[disabled] {
  opacity: 0.4;
}

.big-button, .big-button:active, .big-button:focus, .big-button:hover {
  padding: 0.8em 1em;
}

.big-button,
#show-more {
  width: 100%;
}

#show-more.loading {
  opacity: 0.25;
}

button i {
  padding-right: 0.6em;
}

.icon-btn, .icon-btn:hover, .icon-btn:focus, .icon-btn:active {
  outline: 0 none;
  border: 0 none;
  width: 2em;
  height: 2em;
  padding: 0;
  border-radius: 4em;
  background: transparent;
  box-shadow: none;
  text-shadow: 0px 1px 1px rgba(50,50,50,0.3);
}

.icon-btn:hover, .icon-btn:active, .icon-btn.active {
  background: rgba(0,0,0,0.1);
}

.icon-btn img, .icon-btn i {
  height: 1.2em;
  width: auto;
  text-align: center;
}


/* Layout */
main {
  margin-top: 1em;
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 579px) {
  main.container {
    padding-right: 0;
    padding-left: 0;
  }
}

section, .section, .search-box {
  background-color: #F2F7F6;
  border: 2px solid #F0F5F4;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.posts-by-org .search-box {
  background: #fff;
}

.posts-container .search-box input {
  padding-right: 0 !important;
}

section section,
.section section,
section .search-box,
.section .search-box {
  background-color: #fff;
  box-shadow: 0 0 0 transparent;
}


browse-orgs {
  float: left;
}

.bg-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

@media only screen and (max-width: 579px) {
  main {
    margin-top: 1.8em;
    font-size: 0.9em;
  }
}


/* Masthead */

.navbar {
  background: linear-gradient(20deg, #1AE3EF, #0DED9C);
  padding: 0;
  border-radius: 0 !important;
}

h1.masthead-logo {
  font-size: 1em !important;
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -23px;
  padding-top: 1.9em;
  line-height: 0.4em;
}

.masthead-logo > img {
  width: 46px !important;
}

ul.nav {
  line-height: 1.1em;
}

.nav-item {
  font-family: "Hind", Helvetica, Roboto, sans-serif;
  font-weight: 500;
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  line-height: 1em;
  padding: 1.75em 0.6em 1.85em;
}

/*.nav-left .nav-item {
  margin-right: 1.2em;
}

.nav-right .nav-item {
  margin-left: 1.2em;
}*/

.nav-item.hovered {
  background: rgba(100,100,100,0.1);
}

.nav-item.active::after {
  content: " ";
  display: block;
  width: 100%;
  height: 5px;
  background: url("app/images/triangle.svg") 50% bottom no-repeat;
  background-size: 18px 5px;
  position: absolute;
    left: 0;
    bottom: 0;
}

.no-backgroundsize .nav-item.active::after {
  background: #fff;
  height: 3px;
}

.nav-link, .nav-link:link, .nav-link:active, .nav-link:visited,
.nav-link:link:active, .nav-link:visited:active,
.active .nav-link {
  color: #fff;
  font-size: 0.8em;
  font-weight: 300;
/*  text-shadow: 0px 1px 4px rgba(0,0,0,0.1);
*/  
  text-shadow: 0 0.5px 0px rgba(20,13,16,0.5);
}

.nav-link:hover,
a.nav-link:not([href]):not([tabindex]) {
  color: #fff;
  cursor: pointer;
}

.active .nav-link, .nav-link:active {
  color: #fff;
}

.active .nav-link {
  font-weight: normal;
}

button.nav-item,
button.nav-item:hover {
  position: relative;
    top: 0.08em;
  background: #fff;
  color: #4fead1;
  font-weight: 500;
  text-shadow: none;
  font-size: 0.8em;
  padding: 0.8em 1.6em;
}

button.nav-item {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

button.nav-item:hover {
  color: #49cab3;
  box-shadow: none;
}

.nav-link > * {
  display: inline-block;
  vertical-align: middle;
}

.nav-link img,
.nav-link i,
.subnav img,
.subnav i {
  padding-right: 0.8em;
}

.nav-link > span {
  position: relative;
    top: 0.15em;
}

/* subnav */

.subnav,
.submenu {
  position: absolute;
    bottom: -2.2em;
    right: 0;
    z-index: 101;
  padding: 0.2em 0;
  width: 9em;
  margin-left: -1.5em;
  background: #43d4dD;
  border-radius: 2px;
  list-style: none;
  box-shadow: 0px 2px 4px rgba(20,20,20,0.1);
}

.subnav a,
.submenu a {
  display: block;
  padding: 0.8em 0.8em 0.8em 1.2em;
  cursor: pointer;
  font-size: 0.8em;
  color: #fff !important;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.subnav a:hover,
.submenu a:hover,
.subnav a:active,
.submenu a:active,
.subnav a:focus,
.submenu a:focus {
  color: #fff !important;
  text-decoration: underline !important;
}

@media only screen and (max-width: 599px) {
  .nav-item > a span {
    display: none;
  }

  .nav-link img, .nav-link i {
    padding-right: 0;
  }
}

/* SEARCH BOX CONTAINER */

search-box + select {
  position: relative;
  float: right;
  margin-top: -3.33em;
  margin-bottom: 0;
  margin-right: 1em;
}
.search-box-container {
  display: block;
}
.search-box-container.focused .search-box {
  border-color: #d3F0F3;
}

/* Flash messages */

.flash-message {
  display: block;
  position: fixed;
  z-index: 1000;
  box-sizing: content-box;
  width: 100%;
  padding: 7px 0 14px 0;
  margin: 0;
  height: 40px;
  line-height: 40px;
  left: 0;
  bottom: 0;
  background: #99ccaa;
  color: #fff;
}

.error {
  background: #cc9a99;
}

.flash-message p {
  display: inline-block;
  width: 100%;
  margin: 0;
  vertical-align: middle;
  line-height: 1;
  text-align: center;
}

.null-search {
  padding: 1.5em 1.5em 1.5em 5em !important;
  margin-bottom: 0.5em;
  color: #aba4a9;

  background: url("app/images/see-no-evil-monkey.png") no-repeat 1.7em 50%;
  background-size: 2em auto;
}

.null-search p {
  position: relative;
  top: 0.3em;
}


/**       **/
/** FORMS **/
/**       **/

.giv-form {

}

.form-section {

}

.form-field {
  
}



/*.form-block {
  padding: 2em;
  margin-bottom: 0.6em;
  border: 4px solid #f5f5f5;
  border-radius: 4px;
}*/


#toasty {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 98%;
  margin: 0 1% 1em;
}

.toast {
  position: relative;
  font-size: 0.9em;
  padding: 1.3em 0;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(80,80,80,0.1);
  border: 2px solid rgba(50,50,50,0.1);
  border-radius: 5px;
}

.toasty-type-info {
  background: #1AD3DF;
}

.toasty-type-error {
  background: #EF5352;
}

.toasty-type-success {
  background: #44E49A;
}

.toast-text {
  text-align: center;
}

.toast .close-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: rgba(0,0,0,0.1) url('app/images/small-x.png') no-repeat 56% 44%;
  background-size: 8px auto;
}










/* Loading <https://codepen.io/a-guerrero/pen/XbyPEj> */
.loader,
.loader__figure {
  position: absolute;
  top: 44%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-org-search,
.loading-org-search.loader__figure {
  bottom: -1em;
  top: auto;
}

.loader {
  overflow: visible;
  padding-top: 2em;
  height: 0;
  width: 2em;
}

.loader__figure {
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 1px solid #4ee9d1;
  border-radius: 50%;
  -webkit-animation: loader-figure 2s infinite ease-out;
  -moz-animation: loader-figure 2s infinite ease-out;
  animation: loader-figure 2s infinite ease-out;
}

.loader__label {
  float: left;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0.3em 0 0 50%;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: #B1A8AC;
  white-space: nowrap;
  -webkit-animation: loader-label 2s infinite ease-out;
  -moz-animation: loader-label 2s infinite ease-out;
  animation: loader-label 2s infinite ease-out;
}

.app-loader .loader__label {
  -webkit-animation: app-loader-label 2s infinite ease-out;
  -moz-animation: app-loader-label 2s infinite ease-out;
  animation: app-loader-label 2s infinite ease-out;
}

@-webkit-keyframes loader-figure {
  0% {
    height: 4px;
    width: 4px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    opacity: 0;
  }
}
@-moz-keyframes loader-figure {
  0% {
    height: 4px;
    width: 4px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    opacity: 0;
  }
}
@keyframes loader-figure {
  0% {
    height: 4px;
    width: 4px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    opacity: 0;
  }
}
@-webkit-keyframes loader-label {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.35;
  }
}
@-moz-keyframes loader-label {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.35;
  }
}
@keyframes loader-label {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.35;
  }
}

@-webkit-keyframes app-loader-label {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.35;
  }
}
@-moz-keyframes app-loader-label {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.35;
  }
}
@keyframes app-loader-label {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.35;
  }
}